import init.picasso_m.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    export SECONDARY_STORAGE /storage/sdcard1:/storage/usb0
    mkdir /storage/sdcard1 0000 root root
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    symlink /storage/sdcard1 /mnt/external_sd
    mkdir /storage/usb0 0000 root root
    mkdir /mnt/media_rw/usb0 0700 media_rw media_rw
    symlink /storage/usb0 /mnt/usb_storage

on fs
# Set permission for lvm system
    chown root shell /lvm/sbin/lvm
    chmod 777 /lvm/sbin/lvm

# LVM: Wait for block devices to become available, then set up LVM
# volumes
    wait /dev/block/platform/sdhci-tegra.3/by-name/APP
    wait /dev/block/platform/sdhci-tegra.3/by-name/FLX
    start lvm_vgscan
    start lvm_vgchange

    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    mount_all /fstab.acer

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/nvcam 0700 media camera
    chown dhcp dhcp /data/misc/dhcp

    mkdir /data/gps 770 gps system
    chown gps system /data/gps

    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot

# Create basic usb host device node for USB host manager monitor
    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root

# bluetooth
    # UART device
    chmod 0660 /dev/ttyHS2
    chown bluetooth net_bt_stack /dev/ttyHS2

    # power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    restorecon /sys/devices/platform/bcm4329_rfkill/rfkill/rfkill0/state
    restorecon /sys/devices/platform/bcm4329_rfkill/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/dev-info_bt/vendor

    # bluetooth MAC address programming
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /system/etc/bluetooth
    chown bluetooth net_bt_stack /data/misc/bluetooth
    setprop ro.bt.bdaddr_path "/sys/dev-info_eeprom/BTMAC"

    # bluetooth LPM
    chmod 0220 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite

# nvdps
    chown system system /sys/class/graphics/fb0/device/nvdps

# backlight
    chown system system /sys/class/backlight/pwm-backlight/brightness

# Touch
    chmod 644 /sys/Touch/plugged
    chmod 664 /sys/Touch/sensitivity_raw
    chmod 664 /sys/Touch/filter
    chown system system /sys/Touch/plugged
    chown system system /sys/Touch/sensitivity_raw
    chown system system /sys/Touch/filter
    restorecon /sys/Touch/sensitivity_raw

# Default to "very high" sensitivity
    write /sys/Touch/sensitivity_raw 50

# powerkey led
    chown system system /sys/class/leds/acer-leds/brightness

# didim
    chown system system /sys/class/graphics/fb0/device/smartdimmer/enable
    chown system system /sys/class/graphics/fb0/device/smartdimmer/aggressiveness
    chown system system /sys/class/graphics/fb0/device/smartdimmer/aggress_list
    chown system system /sys/class/graphics/fb0/device/smartdimmer/list_size
    chown system system /sys/class/graphics/fb0/device/smartdimmer/scenario
    chown system system /sys/class/graphics/fb0/device/smartdimmer/aggress_table

# eeprom
    chown system system /sys/at24/SerialNumberwithoutBarcode
    chown system system /sys/at24/ManufactureDate
    chmod 0664 /dev/at24_dev
    chown system system /dev/at24_dev

# ALS
    chown system system /sys/devices/platform/stk-oss/als_enable

# Sensor
    chown system system /sys/bus/iio/devices/device0/als_ir_mode
    chown system system /sys/bus/iio/devices/device0/als_enable
    chown system system /sys/bus/iio/devices/device0/proximity_enable

# Power management settings
    write /sys/module/cpu_tegra3/parameters/no_lp 0
    #write /sys/module/tegra3_emc/parameters/emc_enable 0
    #write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1000000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/boost_factor 2
    write /sys/devices/system/cpu/cpufreq/interactive/input_boost 1
    write /sys/devices/system/cpu/cpufreq/interactive/sustain_load 80
    write /sys/module/cpu_tegra3/parameters/auto_hotplug 1
    write /sys/module/cpuidle/parameters/lp2_in_idle 1

    restorecon /sys/devices/system/cpu
    restorecon /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    restorecon /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    restorecon /sys/devices/system/cpu/cpufreq/interactive/boost
    restorecon /sys/devices/system/cpu/cpufreq/interactive/boost_factor
    restorecon /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    restorecon /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load
    restorecon /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    restorecon /sys/devices/system/cpu/cpufreq/interactive/input_boost
    restorecon /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    restorecon /sys/devices/system/cpu/cpufreq/interactive/max_boost
    restorecon /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    restorecon /sys/devices/system/cpu/cpufreq/interactive/sustain_load
    restorecon /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    restorecon /sys/devices/tegradc.0/smartdimmer/aggressiveness
    restorecon /sys/devices/tegradc.0/smartdimmer/enable

    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/max_boost
    chown system system /sys/dev-power_mode/power_mode
    restorecon /sys/dev-power_mode/power_mode

    write /sys/dev-power_mode/power_mode 2
    write /sys/module/cpu_tegra/parameters/performance_mode 0
    write /sys/module/cpu_tegra/parameters/balanced_mode 1200000
    write /sys/module/cpu_tegra/parameters/powersaving_mode 1200000
    write /sys/class/graphics/fb0/device/smartdimmer/aggress_table 1:1,3/2:3,3/3:3,3

# Default Read Ahead value for sdcards
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048

# make binder state/stats readable by root only, so that they are not
# captured by default in bugreports
    chmod 0400 /sys/kernel/debug/binder/stats
    chmod 0400 /sys/kernel/debug/binder/state

#console_suspend
    chown system system /sys/module/printk/parameters/console_suspend

# Writable nodes for NvCPLSvc, must be behind of Power management settings (scaling_governor interactive)
    chown system system /sys/kernel/tegra_cap/core_cap_level
    chown system system /sys/kernel/tegra_cap/core_cap_state
    chown system system /sys/module/cpu_tegra/parameters/cpu_user_cap
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/max_boost

# EACK
    chown system system /sys/kernel/debug/tegra_emc/eack_state

# LVM services
# Scan for LVM physical volumes and set up volume groups
service lvm_vgscan /lvm/sbin/lvm vgscan --mknodes --ignorelockingfailure
    disabled
    oneshot

# Activate LVM logical volumes in found volume groups
service lvm_vgchange /lvm/sbin/lvm vgchange -aly --ignorelockingfailure
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -puse_p2p_group_interface=1 \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0

#-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -N \
#    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -puse_p2p_group_interface=1
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0

#    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL -f/system/etc/dhcpcd/dhcpcd.conf
     class main
     disabled
     oneshot

service dhcpcd_usb0 /system/bin/dhcpcd -ABDKL -f/system/etc/dhcpcd/dhcpcd.conf
     class main
     disabled
     oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
     class main
     disabled
     oneshot

#service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_usb0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
#service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start

# fusewrapped external sdcard daemon running as media_rw (1023)
service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usb0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usb0 /storage/usb0
    class late_start
    disabled

# Start GPS daemon
on boot
  write /sys/class/gpio/export 162
  write /sys/class/gpio/gpio162/value 0
  write /sys/class/gpio/gpio162/direction out
  write /sys/class/gpio/export 163
  write /sys/class/gpio/gpio163/direction out
  write /sys/class/gpio/gpio163/value 1
  chmod 0660 /sys/class/gpio/gpio162/value
  chown gps gps /sys/class/gpio/gpio162/value
  chmod 0660 /sys/class/gpio/gpio163/value
  chown gps gps /sys/class/gpio/gpio162/value

service gps-daemon /system/bin/glgps_nvidiaTegra2android -c /system/etc/gps/gpsconfig.xml
  class late_start
  socket gps seqpacket 0660 gps system
  user gps
  group system inet sdcard_rw sdcard_r

# Mount usb drives as /usbdrive. Generally usb drives are formatted with FAT
# filesystem, so we support FAT as of now.
# on device-added-/sys/block/sda
#     mount vfat /dev/block/sda /mnt/usbdrive

# on device-removed-/sys/block/sda
#     umount /mnt/usbdrive

# start tf_daemon service
service tf_daemon /system/bin/tf_daemon -storageDir /data/tf -d
    class main
    user root
    group shell

# may restart due to /data/tf not existing yet
on property:init.svc.tf_daemon=restarting
    mkdir /data/tf

# Enable NvCpuD, and set it to never poll config again
on boot
    setprop nvcpud.enabled true
    setprop nvcpud.config_refresh_ms -1

service nvcpud /system/bin/nvcpud
    class main
    user root
    group root

# DOCK2 Setting & start service
on boot
    chmod 0660 /sys/dock/dock
    chown system system /sys/dock/dock
    chmod 0660 /sys/dock/dockin
    chown system system /sys/dock/dockin

# TODO: Use this?
# service acer_dock_detect /system/bin/acer_dock_daemon
#     class late_start
#     user system

# Performance mode
# Powersave
on property:sys.cpu.mode=0
    write /sys/dev-power_mode/power_mode 3

# Balanced
on property:sys.cpu.mode=1
    write /sys/dev-power_mode/power_mode 2

# Performance
on property:sys.cpu.mode=2
    write /sys/dev-power_mode/power_mode 1

# Disable 3G on A510
on property:ro.boot.carrier=wifi-only
    setprop ro.radio.noril yes
    setprop telephony.sms.receive false
    setprop telephony.sms.send false
